<?xml version="1.0" encoding="UTF-8" ?>
<!-- /*
 * MAGIX CMS Copyright (c) 2018 Gerits Aurelien,
 * Dual licensed under the MIT AND GPL Version 3 licenses.
 *
 * Date: March 10 14:23 2023
 */-->
<config>
	<authorized>
		<allow_access>*</allow_access>
	</authorized>
	<data>
		<authors>
			<author>
				<name>Gerits Aurelien</name>
				<website href="http://www.magix-cms.com" />
			</author>
		</authors>
		<release>
			<date_create>21/01/2014</date_create>
			<date_update>10/08/2023</date_update>
			<version>5.1</version>
			<phase>Stable</phase>
		</release>
		<support>
			<ticket href="https://github.com/magix-cms/cartpay/issues"></ticket>
			<git href="https://github.com/magix-cms/cartpay/"></git>
		</support>
	</data>
</config>